streamlit
torch
torchvision
tensorflow==2.8.2
Pillow
opencv-python-headless
opendatasets
pyyaml
pyftpdlib
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/qubvel/segmentation_models
pandas
numpy
exif
deskew
matplotlib
scikit-image